:root {
  --primary-color: #16bcfd;
  --secondary-color: #f0f0f0;
  --text-color: #07226b;
  --dark-text-color: #181818;
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing:;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--text-color);
  text-align: center;
}

.para {
  color: var(--dark-text-color);
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid var(--dark-text-color);
  margin: auto;
}

#clear-btn {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: var(--text-color);
  border: none;
}

#clear-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 12px 24px;
  transition: all 0.3s ease;
}
